/* Estilos para la tabla */
.table-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

/* Estilos para las celdas de la tabla */
td, th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* Estilos para la barra de progreso */
.progress-bar {
  transition: width 0.3s ease;
}

/* Estilos para los botones de radio */
.form-radio {
  appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  user-select: none;
  flex-shrink: 0;
  border-radius: 100%;
  border-width: 2px;
}

.form-radio:checked {
  background-image: none;
  background-color: currentColor;
}

.form-radio:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  border-color: #63b3ed;
}
