@font-face {
  font-family: "Vibur"; /*Can be any text*/
  src: local("Vibur-Regular"),
    url("./fonts/Vibur-Regular.ttf") format("truetype");

}

@font-face {
font-family: "Facon";
src: local("Facon"),
  url("./fonts/Facon.ttf") format("truetype");
}

@font-face {
  font-family: "GoGoPosterPunch";
  src: local("GoGoPosterPunch"),
    url("./fonts/GoGoPosterPunch.otf") format("opentype");
  }

  .gradient-background {
    background: linear-gradient(90deg, #000000, #333333);
    /* Puedes ajustar los colores y la dirección del gradiente según tus preferencias. */
  }